services:
  app:
    build: ./
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
      NODE_ENV: development
      JWT_SECRET: DzTt89o2hXci9lFhmtN4LIpCZx6wr8eUiZ5ijJuX6dh
      CHOKIDAR_USEPOLLING: 'true'
      CHOKIDAR_INTERVAL: '300'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    ports:
      - '3000:3000'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
